.imgLoad{
    float:left;
}
.cloud{
    position: absolute;
    top:50px;
    left:0;
    width: 40%;
}

.hum{
    position: absolute;
    top:50px;
    right:20px;
    width: 40%;
}

.temp{
    position: absolute;
    top:200px;
    left:0;
    width: 40%;
}

.wind{
    position: absolute;
    top:200px;
    right:20px;
    width: 40%;
}

.centered{
    text-align: center;
}